<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đề tài nghiên cứu khoa học THCS Quang Trung</title>
</head>
<body>
    <h1>
        Kết quả nghiên cứu
    </h1>
    <img id='frame' src="{{ url_for('video_demo') }}" width="22%", height="45%"/>
    <div id="guide">
        <h2>Đánh giá:</h2>
        <h3>- Sản phẩm đã triển khai thành công và cho kết quả tốt<br>
        - Với các trường hợp học sinh nghiêng mặt, ảnh mờ,<br> để đảm bảo tính chính xác, mô hình nhận diện
        sẽ bỏ qua không xử lý</h3>
    </div>
</body>
<style type="text/css">
    h1 {
        text-align: center;
        color: green;
    }
    div#guide {
        float: right;
    }

    div#guide h3 {
        color: green
    }
</style>
</html>