<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đề tài nghiên cứu khoa học THCS Quang Trung</title>
</head>
<body class="main_body">
    <h1>
        Đề tài nghiên cứu khoa học THCS Quang Trung
    </h1>
    <img src="{{ url_for('static', filename='resource/tri_thong_minh_nhan_tao.jpg') }}">
    <div id="menu">
        <ul>
            <li>
                <a href="/demo">
                    1. Kết quả nghiên cứu
                </a>
            </li>
            <li>
                <a href="/add_new_person">
                    2. Thêm dữ liệu học sinh mới
                </a>
            </li>
            <li>
                <a href="/diem_danh">
                    3. Điểm danh học sinh
                </a>
            </li>
        </ul>
    </div>
</body>
<style type="text/css">
    h1 {
        text-align: center;
        color: green;
    }
    body.main_body {
<!--        text-align: center;-->
    }
    body.main_body img {
        float: left
    }
    body.main_body div#menu {
        float: right;
        margin-right: 300px;
    }
    body.main_body li a {
        text-decoration: none;
        color: #0f7132;
        font-size: 22px;
    }
</style>
</html>